@import "@fortawesome/fontawesome-free/css/all.css";
@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/base";

#formularz {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  row-gap: 1rem;
  align-items: center;
}

.error {
  &__input {
    border: red 2px solid;
  }
  &__text {
    color: red;
    font-weight: 700;
  }
}
